<div class="row">
  <div class="col-md-3 text-center">
  </div>
  <div class="col-md-6 text-center" id="splash">
    <h1 class="splash-text">Welcome to LitHub</h1>
    <h2 class="splash-text">An Unashamed Mimic of GitHub!</h2>
    <a class="btn btn-login" href="/auth/github"><h1>Login With GitHub</h1></a>
  </div>
</div>
