/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.body {
  background-color: #3D1F00;
}

#splash {
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/87/24/f5/8724f5343bc1d3ffc6a445af7a7e1e96.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-flow: column;
  height: 825px;
 }

.splash-text {
  color: #3D1F00;
}

.btn-login {
  color: #3D1F00;
  min-width: 100px;
  line-height: 26px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  border-color: #3D1F00;
  border-radius: 10px;
}

.btn-login:hover {
  color: white;
  border-color: white;
}
